.fbArray-buttons{
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.checkbox{
  padding-left: 20px
}

tbody.subTable{
  border:2px solid #999
}
tr td b { white-space: nowrap; }

/*th, td { white-space: nowrap; }*/
